# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "e71907ca8287432328a4af60113ea61a"
name = "Thumb-Zone Nav: Mobile Bar"
application_url = "https://navextensions.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  uri = "/webhooks/privacy"
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://navextensions.onrender.com/auth/callback",
  "https://navextensions.onrender.com/auth/shopify/callback",
  "https://navextensions.onrender.com/api/auth/callback"
]
